<% include partials/header.ejs %>

<div id="myCar">

</div>
<script>
    var item = <%- JSON.stringify(childData) %>;
    var data = [
        {
            x: ["OdoMeterReading", "Mileage"],
            y: [item.odometerReading, item.iMileage],
            type: 'bar'
        }
    ];
    Plotly.newPlot('myCar', data);
</script>

<% include partials/footer.ejs  %>