<% include partials/header %>

<div id="myDiv">

</div>
<script>
    var bar = []
    var vehicle_omreading = []
    var vehicle_mlg = []
    var vehicle_name = []
    var items = <%- JSON.stringify(childData) %>;
    for (var k = 0; k < items.length; k++) {
        vehicle_omreading.push(parseInt((items[k].odometerReading), 10));
        vehicle_mlg.push(parseInt((items[k].iMileage), 10));
        vehicle_name.push(items[k].company + items[k].model);
    }

    bar.push(
        {
            x: vehicle_name,
            y: vehicle_omreading,
            name: "odometerReading",
            type: "bar"
        }
    );
    bar.push({
        x: vehicle_name,
        y: vehicle_mlg,
        name: "mileage",
        type: "bar"
    });

    var layout = { barmode: 'group' };
    Plotly.newPlot('myDiv', bar, layout, {}, { showSendToCloud: true });
</script>

<% include partials/footer  %>