<% include partials/header %>

<div class="row" style="text-align: center">
  <% if(childData.length > 0){ %> <% childData.forEach(function(item){ %>
  <div
    class="card shadow p-3 mb-5 bg-white rounded mx-auto"
    style="width: 18rem;"
  >
    <div class="card-body">
      <h5 class="card-title"><%= item.company %> <%= item.model %></h5>
      <p class="card-text">
        Mileage: <%= item.iMileage %> KM/L
      </p>
      <a href="/edit_vehicle_form?id=<%= item.key %>" class="btn btn-primary"
        >Edit Details</a
      >
    </div>
  </div>
  <% }) %> <% }else{ %>
  <div class="col">
    <br /><br /><br /><br /><br /><br />
    <h3>Sorry, no vehicles to display</h3>
    <h3>: (</h3>
  </div>
  <% } %>
</div>

<% include partials/footer %>
