<% include partials/header %>

<div class="row" style="text-align: center; vertical-align: middle;">
  <div class="col">
    <!-- <br /><br /><br /><br /><br />
    <h3>Your gateway to manage your vehicle(s)</h3>
    <h3>; )</h3> -->
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-ride="carousel"
    >
      <div class="carousel-inner" style="vertical-align: middle;">
        <div class="carousel-item active">
          <br /><br /><br /><br /><br /><br />
          <h3>Your gateway to managing your vehicle(s)</h3>
          <h3>; )</h3>
        </div>
        <div class="carousel-item">
          <br /><br /><br /><br /><br /><br />
          <h3>
            To view your performance metrics, head over to the Dashboard.
            Quick!!!
          </h3>
        </div>
        <div class="carousel-item">
          <br /><br /><br /><br /><br /><br />
          <h3>
            To view your previous driving sessions, go to your Session History.
          </h3>
        </div>
        <div class="carousel-item">
          <br /><br /><br /><br /><br /><br />
          <h3>
            You can delete your vehicle by heading over to the edit section
          </h3>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleControls"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleControls"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<% include partials/footer %>
